@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  

  header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;

    
    
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 25px;
    font-family: Tahoma;
    text-align:center;
  
   
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery::after {
  content: "";
  width: 350px;
}

.header-img {
  height: 250px;
  width: 600px;
}

#cta-message, p {
  font-size: 30px;
  font-family: Tahoma;
  text-align: center;

}

#cta {
  font-size: 30px;
  font-family: Tahoma;
  color: red;
}


